body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#container-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  justify-content: center;
}

.card {
  width: 30vw;
  margin: 0.3rem;
  border-radius: 8px;
  padding: 0.5rem;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

@media screen and (max-width: 600px) {
  .card {
    width: 75vw;
  }
}

.anime {
  transition: opacity 1s cubic-bezier(0.33, 0, 0.67, 1) 1.8s,
    transform 2.4s cubic-bezier(0.33, 0, 0, 1) 1.3s,
    -webkit-transform 2.4s cubic-bezier(0.33, 0, 0, 1) 1.3s;
}
